<div class="container-fluid">
  <div id="content">
    <div class="row page-titles">

      <!-- Bread Crumbs BEGIN -->
      <div class="col-md-7 col-7 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Entidades</h3>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/activities">Inicio</a> </li>
            <li class="breadcrumb-item">
              <a href="/inventory" class="">Configuración</a>
            </li>
            <li class="breadcrumb-item">
              <a href="/inventory/devices" class="">Entidades</a>
            </li>
            <li class="breadcrumb-item active">
              <span class="">Edición</span>
            </li>
          </ol>
        </nav>
      </div>
      <!-- Bread Crumbs END -->

      <!-- Graphics BEGIN -->
      <div class="col-md-5 col-5 align-self-center">
        <div id="status" class="d-flex justify-content-end">

          <div class="d-flex m-r-20 m-l-10 hidden-md-down">
            <div class="chart-text m-r-10">
              <h6 class="m-b-0"><small>RIESGOS</small></h6>
            </div>
            <div class="">
              <div class="chartjs-size-monitor">
                <div class="chartjs-size-monitor-expand">
                  <div class=""></div>
                </div>
                <div class="chartjs-size-monitor-shrink">
                  <div class=""></div>
                </div>
              </div>
              <canvas basechart="" height="50" width="50" tabindex="0" style="cursor: pointer; display: block;"
                class="chartjs-render-monitor">
              </canvas>
            </div>
          </div>

          <div class="d-flex m-r-20 m-l-10 hidden-md-down">
            <div class="chart-text m-r-10">
              <h6 class="m-b-0"><small>COMPROMISOS</small></h6>
              <h4 class="m-t-0 text-primary">27%</h4>
            </div>

            <div style="display:inline;width:50px;height:50px;"><canvas width="50" height="50"></canvas><input
                data-plugin="knob" data-width="50" data-height="50" data-linecap="round" data-fgcolor="#007bff"
                value="40" data-displayinput="false" data-skin="tron" data-readonly="true" data-thickness=".3"
                class="compromise" readonly="readonly" style="display: none; width: 0px; visibility: hidden;"></div>
          </div>

          <div class="d-flex m-r-20 m-l-10 hidden-md-down">
            <div class="chart-text m-r-10">
              <h6 class="m-b-0"><small>CONTRATOS</small></h6>
              <h4 class="m-t-0 text-primary">24%</h4>
            </div>
            <div style="display:inline;width:50px;height:50px;"><canvas width="50" height="50"></canvas><input
                data-plugin="knob" data-width="50" data-height="50" data-linecap="round" data-fgcolor="#007bff"
                value="50" data-displayinput="false" data-skin="tron" data-readonly="true" data-thickness=".3"
                class="contract" readonly="readonly" style="display: none; width: 0px; visibility: hidden;"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Graphics END -->

    <div id="main-wrapper">
      <div class="">
        <app-group-window *ngIf="blockWindowShow" [(show)]="blockWindowShow" [block]="currentBlock"
        (onSave)="saveBlock($event)"></app-group-window>

        <app-field-window *ngIf="fieldWindowShow" [(show)]="fieldWindowShow" [field]="currentField"
          (onSave)="saveField($event)">
        </app-field-window>


        <form novalidate="" class="form-component">
          <div class="row">
            <!-- Botones Blocks BEGIN-->
            <div class="mb-4" style="float: right">
              <div role="group" class="btn-group float-right">
                <button class="btn btn-outline-info" (click)="addNewBlock()">
                  <i class="fa fa-plus-circle"></i>Añadir Bloque
                </button>
              </div>
            </div>
            <!-- Botones Blocks END-->

            <div class="col-lg-12">              
              <div id="accordion-form" role="tablist" aria-multiselectable="true" class="accordion">
              
                <!-- Bloque BEGIN -->
                <ng-container *ngFor="let block of blocks; index as i">
                  <div class="card card-outline-info">

                    <!-- Acordeon bloque BEGIN -->
                    <div role="tab" class="card-header" id="panel-heading-0">
                      <h5 class="mb-0 text-white">
                        <a data-toggle="collapse" aria-expanded="true" href="{{ '#panel-' + i }}" aria-expanded="true"
                          attr.aria-controls="{{ 'panel-' + i }}">
                          <i class="mdi mdi-arrow-down-bold-circle down"></i>
                          <i class="mdi mdi-arrow-right-bold-circle right"></i>
                        </a>
                        <a data-toggle="collapse" href="{{ '#panel-' + i }}" aria-expanded="true"
                          attr.aria-controls="{{ 'panel-' + i }}">
                          {{ block.blockname }}
                        </a>
                        <!-- Acciones en el Group BEGIN -->
                        <div class="card-actions">
                          <a (click)="editBlock(block)" title="Edit">
                            <i class="ti-pencil"></i>
                          </a>
                          <a (click)="deleteBlock(block)" title="Delete">
                            <i class="ti-trash"></i>
                          </a>
                        </div>
                        <!-- Acciones en el Group END -->
                      </h5>
                    </div>
                    <!-- Acordeon bloque END -->

                    <div id="{{ 'panel-' + i }}" class="collapse" [ngClass]="{ show: i === 0 }" role="tabpanel"
                      attr.aria-labelledby="{{ 'panel-heading-' + i }}" data-parent="#accordion-form">

                      <!-- Botones Fields BEGIN-->
                      <div class="mb-4">
                        <div role="group" class="btn-group float-right">
                          <button class="btn btn-outline-info" (click)="addField(block.blockid)">
                            <i class="fa fa-plus-circle"></i>Añadir Campo
                          </button>
                        </div>
                      </div>
                      <!-- Botones Fields END-->

                      <div class="card-body">
                        <div class="row">
                            <ng-container *ngFor="let field of block.fields; index as j">
                              <!-- Campo BEGIN -->
                              <div id="{{ 'droppeable-' + block.blockid + '-' + field.id }}" class="col-md-6"
                                (drop)="drop($event)" (dragover)="allowDrop($event)">
                                <div id="{{ 'draggable-' + block.blockid + '-' + field.id }}"
                                  class="card dragable dragable-box" draggable="true" (dragstart)="drag($event)">
                                  <div class="card-entity-header">
                                    <div class="card-actions">
                                      <a data-action="collapse">
                                        <i class="ti-minus"></i>
                                      </a>
                                      <a data-delete="button.service.delete.url" (click)="deleteField(field)"
                                        data-confirm="Texto para mensaje previo a eliminar">
                                        <i class="ti-trash"></i>
                                      </a>
                                    </div>
                                    <h4 class="card-title m-b-0">{{ field.label }}</h4>
                                  </div>
                                  <div class="card-body collapse show pointer" (click)="editField(field)">
                                    <span class="subtitle text-muted">Name: {{ field.name }}</span><br />
                                    <span class="subtitle text-muted">Label: {{ field.label }}</span><br />
                                    <span class="subtitle text-muted">Type: {{ field.type.name }}</span>
                                  </div>
                                </div>
                              </div>
                            </ng-container>
                          <!-- Campo END -->
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
                <!-- Bloque END -->
              </div>
              <div class="form-actions">
                <a routerlink="" class="btn btn-inverse mr-1">Cancelar</a>
                <button type="submit" class="btn btn-info mr-1" (click)="save()">
                  <i class="fa fa-check"></i>Guardar
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>