.card-entity-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.pointer {
  cursor: pointer;
}

.dragable {
  cursor: move;
}

.dragable-box {
  float: initial;
  margin: 15px;
}

.caja-interna {
  border:2px solid red;
  background-color: aqua;
}
#droppeable-1, #droppeable-2, #droppeable-3, #droppeable-4,
#div1, #div2, #div3, #div4 {
  float: left;
  width: 200px;
  height: 100px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}