<div *ngIf="show" class="modal fade show modal-center-top-30" id="add-option-modal" tabindex="-1" role="dialog"
  style="display: block">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Field</h4>
        <button type="button" (click)="close()" class="close" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="myForm" method="post" id="add-option-form" (ngSubmit)="save()">
          <!-- input BEGIN -->
          <div class="form-group">
            <div class="col-xs-12">
              <label for="value" class="control-label"> Name </label>
              <input formControlName="name" type="text" name="name" class="form-control" required />
            </div>
          </div>
          <!-- input END -->

          <!-- input BEGIN -->
          <div class="form-group">
            <div class="col-xs-12">
              <label for="label" class="control-label"> Translation </label>
              <input formControlName="label" type="text" name="label" class="form-control" required />
            </div>
          </div>
          <!-- input END -->
          <!-- input type BEGIN -->
          <div class="form-group">
            <div class="col-xs-12">
              <label for="type" class="control-label"> Type </label>
              <select formControlName="type" name="type" class="form-control">
              <option *ngFor="let type of types" [value]="type.value">{{ type.label }}</option> 
              </select>
            </div>
          </div>
          <!-- If type is picklist show it -->
          <div class="form-group" *ngIf="myForm.value.type == 'picklist'">
            <div class="col-xs-12">
              <label for="picklist" class="control-label"> Picklist </label>
              <select formControlName="picklist" name="picklist" class="form-control">
              <option *ngFor="let picklist of picklists" [value]="picklist.name">{{ picklist.label }}</option> 
              </select>
            </div>
          </div>          
          <!-- input type END -->
          <!-- input BEGIN -->
          <div class="form-group">
            <div class="col-xs-12">
              <label for="label" class="control-label"> Obligatorio </label>
              <!-- <input formControlName="mandatory" type="text" name="mandatory" class="form-control" required /> -->
              <div class="form-check">
                <label class="custom-control custom-radio">
                  <input
                    id="mandatory-no"
                    type="radio"
                    formControlName="mandatory"
                    name="mandatory"
                    type="radio"
                    value="0"
                    class="custom-control-input"
                  />
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">No</span>
                </label>
                <label class="custom-control custom-radio">
                  <input
                    id="mandatory-yes"
                    type="radio"
                    formControlName="mandatory"
                    name="mandatory"
                    type="radio"
                    value="1"
                    class="custom-control-input"
                  />
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Yes</span>
                </label>
              </div>              

            </div>
          </div>
          <!-- input END -->
          <!-- input BEGIN -->
          <div class="form-group">
            <div class="col-xs-12">
              <label for="label" class="control-label"> Oculto </label>
              <!-- <input formControlName="hidden" type="text" name="hidden" class="form-control" required /> -->
              <div class="form-check">
                <label class="custom-control custom-radio">
                  <input
                    id="hidden-no"
                    type="radio"
                    formControlName="hidden"
                    name="hidden"
                    type="radio"
                    value="0"
                    class="custom-control-input"
                  />
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">No</span>
                </label>
                <label class="custom-control custom-radio">
                  <input
                    id="hidden-yes"
                    type="radio"
                    formControlName="hidden"
                    name="hidden"
                    type="radio"
                    value="1"
                    class="custom-control-input"
                  />
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Yes</span>
                </label>
              </div>              
            </div>
          </div>
          <!-- input END -->
          <!-- input BEGIN -->
          <div class="form-group">
            <div class="col-xs-12">
              <label for="label" class="control-label"> Editable </label>              
              <div class="form-check">
                <label class="custom-control custom-radio">
                  <input
                    id="editable-no"
                    type="radio"
                    formControlName="editable"
                    name="editable"
                    type="radio"
                    value="0"
                    class="custom-control-input"
                  />
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">No</span>
                </label>
                <label class="custom-control custom-radio">
                  <input
                    id="editable-yes"
                    type="radio"
                    formControlName="editable"
                    name="editable"
                    type="radio"
                    value="1"
                    class="custom-control-input"
                  />
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Yes</span>
                </label>
              </div>                            
            </div>
          </div>
          <!-- input END -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="close()" class="btn btn-default">Cancel</button>
        <button type="button" [disabled]="!myForm.valid" (click)="save()" class="btn btn-info">
          Save
        </button>
      </div>
    </div>
  </div>
</div>
