<div class="card-header p-2">
  <div class="row">
    <div class="col" *appToolbarDropDown>
      <div id="leftSide" class="float-left row">
        <div class="col-md-0">
          <span class="input-group-btn">
            <button class="btn btn-info">
              <i class="fa fa-refresh"></i>
            </button>
          </span>
        </div>
        <div class="col-md-8">
          <input type="search" placeholder="Search..."
            class="form-control form-control-sm ng-untouched ng-pristine ng-valid" style="height: 34px; width: 200px" />
        </div>
      </div>

      <div id="rigthSide" class="btn-group float-right">
        <button type="button" class="btn btn-outline-info">
          <i class="mdi mdi-folder-plus mr-1"></i> New folder</button><button type="button"
          class="btn btn-outline-info">
          <i class="mdi mdi-note-plus mr-1"></i> New template</button><button type="button"
          class="btn btn-outline-info">
          <i class="mdi mdi-upload mr-1"></i> Upload template</button><button type="button"
          class="btn btn-outline-info">
          <i class="mdi mdi-note-plus mr-1"></i> New document</button><button type="button"
          class="btn btn-outline-info">
          <i class="mdi mdi-upload mr-1"></i> Upload file
        </button>
      </div>
    </div>
  </div>
</div>
<div class="card-body" style="overflow-y: auto">
  Hola probando...
</div>