<div *ngIf="show" class="modal fade show modal-center-top-30" id="add-option-modal" tabindex="-1" role="dialog"
  style="display: block">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Group</h4>
        <button type="button" (click)="close()" class="close" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="myForm" method="post" id="add-option-form" (ngSubmit)="save()">
          <!-- input BEGIN -->
          <div class="form-group">
            <div class="col-xs-12">
              <label for="value" class="control-label"> Name </label>
              <input formControlName="blockname" type="text" name="blockname" class="form-control" required />
            </div>
          </div>
          <!-- input END -->
          <!-- input BEGIN -->
          <div class="form-group">
            <div class="col-xs-12">
              <label for="label" class="control-label"> Translation </label>
              <input formControlName="blocklabel" type="text" name="blocklabel" class="form-control" required />
            </div>
          </div>
          <!-- input END -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="close()" class="btn btn-default">Cancel</button>
        <button type="button" [disabled]="!myForm.valid" (click)="save()" class="btn btn-info">
          Save
        </button>
      </div>
    </div>
  </div>
</div>
