.topbar .top-navbar .navbar-header {
  text-align: left;
  padding-left: 13px;
}

.logo-footer {
  height: 18px;
}

.isotipo {
  height: 40px;
}

.logo {
  height: 45px;
  margin-left: 5px;
}

.login-box .isotipo {
  display: block;
  margin: 0 auto 5px auto;
}

.login-box .lang-selector {
  position: absolute;
  right: 20px;
}

#login-form .alert {
  margin-top: 15px;
  margin-bottom: 0px;
}

#to-recover {
  margin-bottom: 10px;
}

#recover-form {
  padding-top: 25px;
}

td.quantity {
  text-align: center;
}

.dashboard .progress-bar {
  height: 10px;
}

.page-titles .chart-text .text-primary {
  text-align: right;
}

.sidebar-nav ul li a {
  white-space: normal;
}

.sidebar-nav>ul>li {
  padding: 0;
}

.sidebar-nav>ul>li>a {
  border-radius: 0;
}

.sidebar-nav>ul>li.active>a,
.sidebar-nav>ul>li.active:hover>a {
  background: #1e88e5 !important;
  color: white;
}

.sidebar-nav>ul>li>a:hover>i,
.sidebar-nav>ul>li:hover>a {
  color: #1e88e5;
}

.sidebar-nav>ul>li>a.active>i {
  color: white;
}

.sidebar-nav>ul>li>ul {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.sidebar-nav .nav-small-cap {
  text-transform: uppercase;
}

.sidebar-nav .activities-menu>a {
  text-transform: capitalize;
}

.table-btn-group {
  margin-bottom: 15px;
}

th {
  text-transform: capitalize;
}

th.checkbox {
  width: 40px;
}

[type="checkbox"].filled-in:not(:checked)+label:after {
  background-color: #fff;
}

[type="checkbox"]+label {
  height: auto;
  margin-bottom: 1rem;
}

.form-component .control-label {
  text-transform: capitalize;
}

.file-upload-container {
  position: absolute;
  background: #e9eceff2;
  z-index: 3;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  padding: 1.5rem;
}

.file-upload-container .btn-close-upload {
  position: absolute;
  right: 1rem;
}

.fileSelected {
  background-color: #1e88e5;
  border-radius: 4px;
}

.fileSelected i, .fileSelected h6, .fileSelected .label-light-inverse {
  background-color: transparent;
  color: #fff;
}

.folder-name i.mdi-folder {
  color: #26c6da;
}

.folder-name i.close {
  margin-left: 10px;
}

.cancel-search i.fa-search {
  color: #1e88e5;
}

#documents .form-actions {
  padding-bottom: 15px;
}

.searches .list-group-item.active {
  color: #007bff;
}

.shw-rside {
  width: 300px;
}

.chatonline li a span {
  text-transform: lowercase;
}

.right-sidebar .chatonline i {
  font-size: 28px;
  margin-right: 5px;
}

[data-role="notification"] {
  display: none;
}

.jq-toast-wrap {
  width: 325px;
}

.jq-toast-single,
.jq-toast-single h2 {
  font-family: "Poppins", sans-serif;
  border-radius: 4px;
  font-size: 16px;
}

.close-jq-toast-single {
  font-size: 20px;
}

.accordion [class^="card card-outline-"] .card-header h5 a {
  color: #fff;
}

.form-actions {
  padding-top: 10px;
}

html body .accordion .card {
  margin-bottom: 5px;
}

[data-url] {
  cursor: pointer;
}

.dropify-wrapper {
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
  border-radius: .25rem;
}

.dropify-wrapper,
.dropify-clear {
  font-family: "Poppins", sans-serif !important;
}

.dropify-message p {
  text-align: center;
  font-size: 16px !important;
  font-weight: 400 !important;
}

[data-role=upload] .form-group {
  margin-bottom: 10px;
}

.card-body .text-primary {
  color: #7460ee !important;
}

.activity h2.card-title {
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 22px;
}

.activity .subtitle {
  font-size: 14px;
}

.activity .risk-label {
  font-size: 14px;
}

.activity .risk-graphs {
  position: relative;
}

.activity .risk-graphs .risk {
  margin-top: 15px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.activity .risk-graphs .risk:hover {
  opacity: 0.6;
}

.risk-control {
  margin-left: auto;
  margin-right: auto;
  height: 12px;
}

.activity .risk-edit .risk-label {
  display: block;
  margin-top: 15px;
  text-align: right;
}

.activity .risk-edit button {
  margin-top: 15px;
}

.activity .risk-edit button.disabled {
  cursor: default;
}

.activity .risk-edit .loader {
  margin: 15px auto 0 auto;
}

.risk-control>span {
  cursor: pointer;
  float: left;
  height: 12px;
  background-color: #e9ecef;
  width: 25%;
  border: 1px solid #fff;
}

.risk-control>span:hover {
  border-color: #000;
}

.risk-control>span:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.risk-control>span:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.activity .card-btn-group {
  position: absolute;
  top: 0;
  right: 0;
}

.activity .card-btn-group .btn {
  border-color: #d7dfe3;
  padding: 5px 10px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 4px !important;
  border-top: none;
  border-right: none;
}

.simple-toolbar {
  margin-bottom: 20px;
}

.mini-sidebar .navbar-collapse .label.account {
  display: none;
}

a[data-toggle="collapse"].collapsed .right {
  display: none;
}

a[data-toggle="collapse"].collapsed .down {
  display: inline;
}

a[data-toggle="collapse"]:not(.collapsed) .right {
  display: inline;
}

a[data-toggle="collapse"]:not(.collapsed) .down {
  display: none;
}

.card-actions a {
  opacity: 1;
}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #1e88e5;
  width: 28px;
  height: 28px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

select.items-per-page {
  width: auto;
  margin-right: 10px;
}

.label.version {
  line-height: normal;
}