.matrix .card[data-level="1"] {
  background-color: #26c6da;
}

.matrix .card[data-level="2"] {
  background-color: #ffb22b;
}

.matrix .card[data-level="3"] {
  background-color: #f46a11;
}

.matrix .card[data-level="4"] {
  background-color: #d11e2e;
}

.matrix .card[data-level="1"] a {
  color: #26c6da;
}

.matrix .card[data-level="2"] a {
  color: #ffb22b;
}

.matrix .card[data-level="3"] a {
  color: #f46a11;
}

.matrix .card[data-level="4"] a {
  color: #d11e2e;
}

.risk-control[data-level="1"] > span[data-level="1"] {
  background-color: #26c6da;
}

.risk-control[data-level="2"] > span[data-level="1"], 
.risk-control[data-level="2"] > span[data-level="2"] {
  background-color: #ffb22b;
}

.risk-control[data-level="3"] > span[data-level="1"], 
.risk-control[data-level="3"] > span[data-level="2"], 
.risk-control[data-level="3"] > span[data-level="3"] {
  background-color: #f46a11;
}

.risk-control[data-level="4"] > span[data-level="1"], 
.risk-control[data-level="4"] > span[data-level="2"], 
.risk-control[data-level="4"] > span[data-level="3"],
.risk-control[data-level="4"] > span[data-level="4"] {
  background-color: #d11e2e;
}

.risk[data-risk-level="1"] .risk-label {
  color: #26c6da !important;
}

.risk[data-risk-level="2"] .risk-label {
  color: #ffb22b !important;
}

.risk[data-risk-level="3"] .risk-label {
  color: #f46a11 !important;
}

.risk[data-risk-level="4"] .risk-label {
  color: #d11e2e !important;
}

.risk[data-risk-level="1"] .progress-bar {
  background-color: #26c6da !important;
}

.risk[data-risk-level="2"] .progress-bar {
  background-color: #ffb22b !important;
}

.risk[data-risk-level="3"] .progress-bar {
  background-color: #f46a11 !important;
}

.risk[data-risk-level="4"] .progress-bar {
  background-color: #d11e2e !important;
}

