.matrix {
  position: relative;
  padding-left: 20px;
  padding-bottom: 40px;
}

.matrix h3 {
  font-size: 18px;
  z-index: 10;
}

.matrix .x-label {
  position: absolute;
  bottom: 0;
  right: 0;  
}

.matrix .y-label {
  position: absolute;
  left: 0;
  top: 0;
}

.matrix .card {
  position: relative;
  margin-bottom: 0;  
  min-height: 110px;
  border-color: #fff;
  border-bottom: none;
}

.matrix .card-group .card {
  border-radius: 4px !important;
}

.matrix .horizontal-label, .matrix .empty-cell {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 10%;
  box-shadow: none;
}

.matrix .vertical-label, .matrix .empty-cell {
  min-height: 25px;
  box-shadow: none;
}

.matrix .horizontal-label span {
  position: absolute;
  bottom: 0;
  right: 5px;
}

.matrix .vertical-label {
  text-align: right;
}

.matrix .horizontal-label {
  text-align: right;  
}

.matrix .card-group:not(:first-child, :last-child) .horizontal-label span {
  display: none !important;
}

.matrix .horizontal-label, .matrix .vertical-label {
  background-color: transparent;
}

.matrix .horizontal-label h3, .matrix .vertical-label h3 {
  color: #fff;
  margin-bottom: 0;
}

.matrix .empty-cell {
  border-color: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.matrix .card a.activity {
  display: block;
  margin-bottom: 1px;
  color: white;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  border: 1px dashed white;
  background-color: white;
  border-radius: 3px;
}

.matrix .card a:hover {
  background-color: transparent !important;
  color: white !important;
}

.matrix .card .items a:not(:last-child):not(.last) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.matrix .card .items a:not(:first-child) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.matrix .card .count { 
  position: absolute;
  bottom: 0;
  right: 0; 
  line-height: 18px;
  text-align: center;
}

.matrix .card .count a.number {
  background-color: white;
  padding: 0 2px;
  display: inline-block;
  border-top-left-radius: 2px; 
  border: 1px dashed white;
  font-size: 14px;
  min-width: 20px;
}

.matrix .card .count .icon {
  color: white;
}

.matrix .card .count.has-extra .icon {
  display: inline-block;
  transition: all 0.2s linear;
}

.matrix .card .count.has-extra.expanded .icon {  
  transform: rotate(180deg);
}