<h1>Angular Router App</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li><a routerLink="/" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/first-component" routerLinkActive="active">First Component</a></li>
    <li><a routerLink="/second-component" routerLinkActive="active">Second Component</a></li>
    <li><a routerLink="/form" routerLinkActive="active">Form</a></li>
    <li><a routerLink="/toolbar" routerLinkActive="active">Toolbar</a></li>
    <li><a routerLink="/inputs" routerLinkActive="active">Inputs</a></li>
    <li><a routerLink="/entity-list" routerLinkActive="active">Entities List</a></li>
    <li><a routerLink="/entity-detail" routerLinkActive="active">Entity Detail</a></li>
    <li><a routerLink="/drag-and-drop" routerLinkActive="active">Drag and Drop</a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
