<h1>Lista de entidades:</h1>
<div class="card">
  <div class="card-body">
    <div class="row mb-2">

      <div class="col-4">
        <div role="search" class="input-form">
          <div class="input-group">
            <input type="text" placeholder="Search..." class="form-control ng-untouched ng-pristine ng-valid">
            <input type="hidden" name="p" value="1">
            <span class="input-group-btn">
              <button class="btn btn-info">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div role="group" class="btn-group float-right">
          <button class="btn btn-outline-info ng-star-inserted" disabled="">
            <i class="fa fa-edit"></i>Editar
          </button>
        </div>
      </div>
    </div>
  </div>
  <table class="table-hover table color-bordered-table info-bordered-table">
    <thead>
      <tr>
        <th scope="col" class="checkbox">
          <input type="checkbox" id="checkbox_all" value="check" class="filled-in chk-col-light-blue">
          <label for="checkbox_all"></label>
        </th>
        <th scope="col" class="ng-star-inserted">Nombre</th>
        <th scope="col" class="ng-star-inserted">Descripción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let collection of collections">
        <td>
          <input type="checkbox" class="filled-in chk-col-light-blue" id="{{ collection.id }}" name="{{ collection.id }}" value="{{ collection.id }}">
          <label for="{{ collection.id }}"></label>
        </td>
        <td>
          <a href="/entity-detail/ {{ collection.id }}">{{ collection.name }}</a>
        </td>
        <td><div title="Descripción">
          {{ collection.description }}
        </div></td>
      </tr>
    </tbody>
  </table>