<p>inputs works!</p>

<div [formGroup]="form" class="form-group" *ngIf="!field.hidden">
  <label [attr.for]="field.name" class="control-label" title="{{ field.name }}">{{
    field.label
  }}</label>
  <span *ngIf="field.required" class="text-danger">*</span>
  <input [id]="field.name" type="date" [formControlName]="field.name" [value]="field.value" class="form-control" />
  <br><br>
  <label [attr.for]="field2.name" class="control-label" title="{{ field2.name }}">{{
    field2.label
  }}</label>
  <span *ngIf="field2.required" class="text-danger">*</span>
  <input [id]="field2.name" type="datetime" [formControlName]="field2.name" [value]="field2.value | date: 'short'" class="form-control" />
</div>
